{% extends 'base.html' %}

{% block index %}
    <div class="jumbotron bg-dark text-white">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple todo app built using Django the awesome web framework.</p>
        <hr class="my-4">
        <p>This project has many functionalities like Create, Read, Update and Delete (CRUD) and user authentication and authorization, and many more!</p>
        <p>
            Built using Bootstrap version 4.6.2 components (Navbar, Jumbotron, Inline-forms, List-groups, etc.)
            To get started first login to your account by clicking <a class="btn btn-primary btn-sm" href="{% url 'login' %}" role="button">here</a> or register a new account by clicking <a class="btn btn-primary btn-sm" href="{% url 'register' %}" role="button">here</a>.
            Or just use the navbar!

            Once logged in, you can use the website or the REST API to list, create, update or delete a todo.
        </p>

    </div>
{% endblock index %}
