{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block task_list %}
    <h2 class="text-white">Delete Todo</h2>
    
    <hr>
    
    <form method="post" action="{% url 'delete-todo' todo.pk %}">
        {% csrf_token %}
        <div class="col">
            <div class="row text-white">
                {{ form.title|crispy }}
            </div>
        </div>

        <hr>
        <div class="form-inline my-2 my-lg-0">
            <button class="btn btn-info mx-2" type="submit">
                <a  class="text-white" href="{% url 'list-todo' %}">Go back</a>
            </button>
            <button class="btn btn-danger text-white" type="submit">Delete</button>
        </div>
        
    </form>
{% endblock task_list %}